<h1>Каталог</h1>


<table>
  <tr>
    <th>Каталог</th>
    <th>Описание</th>
  </tr>
 
  <% @groups.each do |group| %>
    <tr>
      <td><%= group.title %></td>
      <td><%= group.text %></td>
      <td><%= link_to 'Показать', group_path(group) %></td>
    </tr>
  <% end %>
</table>

