<% @products.each do |product| %>
    <tr>
      <td><%= product.price %></td>
      <td><%= product.name %></td>
      <td><%= product.pr_description %></td>
      <td><%= image_tag product.picture.url(:medium) %></td>
    <tr>
    
<% end %>
